<div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), method: :delete, remote: true) do |f| %>
      <%= f.submit "Unfollow", class: "btn" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.active_relationships.build(followed_id: @user.id), remote: true) do |f| %>
      <%= hidden_field_tag :followed_id, @user.id %>
      <%= f.submit "Follow", class: "btn bnt-primary" %>
    <% end %>
  <% end %>
</div>