<strong>New Profile for: <%= current_user.email %></strong>
  <%= form_for [current_user, @profile] do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

    <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

    <p>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </p>
  <%= f.submit "Create profile" %>
<% end %>