
<div class="row">
  <aside class="col-md-4">
    <section class="profile_info">
      <%= image_tag (avatar_url(@user)) %>
      <h1><%= @user.profile_name %></h1>
      <span><%= link_to "view my profile", [@user, @user.profile] %></span>
      <span><b>Posts:</b> <%= link_to @user.posts.count %></span>
      <strong>users:</strong>
    </section>
    <section class="stats">
      <% if @users.any? %>
        <div class="profile_avatars">
          <% @users.each do |user| %>
            <%= link_to image_tag(avatar_url(user)), [user, user.profile]  %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
  </div>
</div>