<h1>User: <%= @profile.name %></h1>
<%= image_tag avatar_url(@user) %>
<%= render 'follow_form' %>

<% @user.posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>

<div class="stats">
  <a href="<%= following_user_profile_path(@user, @profile) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_profile_path(@user, @profile) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

<div>
  <% if @user.posts.any? %>
    <%= render partial: 'posts/posts', locals: { posts: @user.posts} %>
  <% else %>
    <strong>There is no posts by: <%= @profile.name %></strong>
  <% end %>
</div>
