<%= div_for(comment) do %>
  <h6>Author:<%= comment.user_email %></h6>
  <%= image_tag avatar_url(comment.user) %>
  <%= simple_format(comment.body) %>
  <%= link_to "Delete comment", post_comment_path(comment.post, comment), method: :delete, remote: true %>
<% end %>