<strong>New Comment</strong>
  <%= form_for [@post, @comment], remote: true do |f| %>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  
  <%= f.submit "Create comment" %>
<% end %>