<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body %>
  </div>

  <div>
    <%= f.input :tag_list %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Post it!" %>
  </div>
<% end %>
