<% posts.each do |post| %>
  <h3 class="blog-post-title"><%= post.title %></h3>
  <p class="blog-post-meta">By: <%= link_to post.user_email, user_profile_path(post.user.profile, post.user) %></p>
  <p><%= simple_format(post.body) %></p>
  <%= link_to "Read more", post_path(post) %>
  <hr> 
<% end %>