<p id="notice"><%= notice %></p>
<div class="col-sm-8 blog-main">
  <div class="blog-post">
    <h3 class="blog-post-title"><%= @post.title %></h3>
    <p class="blog-post-meta">By: <%= @post.user_email %></p>
  
    <p><%= simple_format(@post.body) %></p>

    <div>
      <%= show_tags(@post) %>
    </div>
    <div> 
    </div>
      
    <nav>
      <ul class="pager">
      <% if owner?(@post) %>
        <li><%= link_to 'Edit', edit_post_path(@post) %></li>
      <% end %>
        <li><%= link_to 'Back', posts_path %></li>
      </ul>
    </nav>

    <h3 align="center">Comments:</h3>
    <br />
    <div id="comments-list">
      <%= render partial: @post.reload.comments %>
    </div>

    <div id="comment-form">
      <%= render 'comments/form' %>
    </div>
  </div>
