<%# add navigation links to this file %>
<%= link_to 'About', page_path('about') %>
<%= link_to 'Home Page', root_path %>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  
  <% show_profile do %>
    <%= link_to "MyProfile", user_profile_path(current_user, current_user.profile) %>
  <% end %>

<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>