<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blog" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="blog-masthead">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">My First Blog</h1>
        <p class="lead blog-description">I'm back bitches, and this time I'm gonna rock</p>
      </div>
      

      <%= render 'layouts/messages' %>
      

      <div class="row">
        <div class="col-sm-8 blog-main">
          <%= yield %>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <%= render 'posts/search' %>
        </div>
      </div>
    


    </div>
  </body>
</html>
